.section {
  width: 100%;
  height: 110vh;
}

.form-block {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 86%;
  display: flex;
}

.form {
  width: 23rem;
  padding-left: 40px;
  padding-right: 40px;
}

.submit-button {
  background-color: #179bd7;
  border: 1px solid #0e678f;
  border-radius: 3px;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: Open Sans, sans-serif;
  font-size: 13.5px;
  font-weight: 600;
}

.div-block {
  position: relative;
}

.div-block.sws {
  margin-bottom: 30px;
}

.div-block.sw {
  margin-bottom: 25px;
}

.text-field {
  border: 1.7px solid #999;
  border-radius: 4px;
  padding-left: 37px;
  font-family: Open Sans, sans-serif;
  font-size: 13.2px;
}

.text-field::placeholder {
  color: #6b6b6b;
}

.image {
  max-width: none;
  height: 55%;
  position: absolute;
  inset: 23% auto auto 2%;
}

.image-2 {
  width: 19rem;
  max-width: none;
  margin-bottom: 45px;
}

.field-label {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
}

.div-block-2 {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 4.4rem;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.text-block {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
}

.div-block-3 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 11%;
  display: flex;
}

.image-3 {
  width: 3%;
  max-width: none;
  margin-bottom: 8px;
}

.text-block-2 {
  color: #2c2c2c;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 11px;
  font-weight: 600;
}

.link {
  color: #252525;
  text-decoration: none;
}

.div-block-4 {
  background-color: #d35351;
  border-radius: 6px;
  justify-content: flex-start;
  align-items: center;
  width: 23rem;
  height: 47px;
  margin-bottom: 26px;
  padding-left: 13px;
  display: flex;
}

.image-4 {
  max-width: none;
  height: 71%;
}

.text-block-3 {
  color: #fff;
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  .form {
    padding-left: 3px;
    padding-right: 3px;
  }

  .div-block-2 {
    flex-flow: wrap;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 5%;
  }
}

@media screen and (max-width: 479px) {
  .section {
    height: 99vh;
  }

  .form-block {
    justify-content: flex-start;
    align-items: center;
    height: 84%;
    margin-bottom: 0;
    padding-top: 41px;
  }

  .form {
    width: 97%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .image-2 {
    width: 17rem;
  }

  .div-block-2 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    height: 3.8rem;
    margin-top: 14px;
    font-size: 11px;
    position: static;
  }

  .text-block {
    font-size: 13px;
  }

  .div-block-3 {
    height: 17%;
  }

  .image-3 {
    width: 9%;
  }
}
